/* General page styling */
body {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text for contrast */
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Card list container with grid layout */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexible grid */
  gap: 20px; /* Space between cards */
  padding: 20px;
  margin-top: 100px; /* Space between the header and the cards */
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

/* Individual card styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(40, 147, 11, 0.6);
  border-radius: 12px;
  padding: 16px;
  background-color: #1e1e1e;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  height: 450px; /* Increased height to make the card long */
}

/* Hover effect for the cards */
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

/* Progress bar container */
.card .progress-bar-container {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Text styles inside the card */
.card .card-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #e0e0e0;
  flex-grow: 1; /* Allow content to take remaining space */
}

/* Style for the text in each card */
.card .card-values p {
  margin: 4px 0;
  font-size: 14px;
}

/* Style for value buttons */
.value-button {
  background-color: #333;
  color: #e0e0e0;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.value-button:hover {
  background-color: #5bc0de;
}

/* Warning and Danger status button */
.status-button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #5bc0de; /* Default blue for normal */
  transition: background-color 0.3s ease;
  margin-top: 12px; /* Space between values and the button */
}

.status-button.warning {
  background-color: #f0ad4e; /* Yellow for warning */
}

.status-button.danger {
  background-color: #d9534f; /* Red for danger */
}

.status-button.default {
  background-color: #5bc0de; /* Blue for default */
}

.status-button:hover {
  background-color: #bba23b; /* Darken color on hover */
}

/* Adjust status button visibility */
.status-button {
  width: 100%; /* Make button fill the width of its container */
}
